<%= form_for(aventure) do |f| %>
  <% if aventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aventure.errors.count, "error") %> prohibited this aventure from being saved:</h2>

      <ul>
      <% aventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Prénom" %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Nom" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Age" %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :aventure_text %>
    <%= f.text_area :aventure_text, class: "tinymce"%>
    <%= tinymce %>

  </div>

  <div class="field">
    <%= f.label :aventure_video %>
    <%= f.text_field :aventure_video %>
  </div>

  <div class="field">
    <%= f.label :aventure_audio %>
    <%= f.text_field :aventure_audio %>
  </div>

  <div class="field">
    <%= f.label :aventure_portrait %>
    <%= f.file_field :aventure_portrait %>
  </div>

  <div class="field">
    <%= f.label :aventure_illu %>
    <%= f.text_field :aventure_illu %>
  </div>

  <div class="field">
    <%= f.label "Tags"%>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_metier, {}, {class: "checkbox", :multiple=>true}) do |b|%>
      <%= b.label{b.check_box + b.text} %>
    <%end%>
  </div>
  <div class="field">
    <%= f.label "Variables attachées"%>
    <%= collection_check_boxes :aventure, :variable_ids, Variable.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
