<%= form_for(aventure) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.error :title %>
  </div>
  <div class="field">
    <%= f.label "Prénom" %>
    <%= f.text_field :first_name, class: "form-control" %>
    <%= f.error :first_name %>
  </div>
  <div class="field">
    <%= f.label "Nom" %>
    <%= f.text_field :last_name, class: "form-control" %>
    <%= f.error :last_name %>
  </div>
  <div class="field">
    <%= f.label "Age" %>
    <%= f.text_field :age, class: "form-control" %>
    <%= f.error :age %>
  </div>

  <div class="field">
    <%= f.label :aventure_text %>
    <%= f.text_area :aventure_text, class: "tinymce"%>
    <%= tinymce %>
  </div>

  <div class="field">
    <%= f.label :aventure_video %>
    <%= f.text_field :aventure_video, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :aventure_audio %>
    <%= f.text_field :aventure_audio, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :aventure_portrait %>
    <%= f.file_field :aventure_portrait, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :aventure_illu %>
    <%= f.text_field :aventure_illu, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Tags"%>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_metier, {}, {class: "checkbox", :multiple=>true}) do |b|%>
      <%= b.label{b.check_box + b.text} %>
    <%end%>
  </div>
  <div class="field">
    <%= f.label "Variables attachées"%>
    <%= collection_check_boxes :aventure, :variable_ids, Variable.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
