<div id="new_aventure" class="container .form-horizontal">
  <%= form_for(aventure) do |f| %>
    <% if aventure.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(aventure.errors.count, "error") %> prohibited this aventure from being saved:</h2>

        <ul>
        <% aventure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">

      <div class="form-group">
        <%= f.label :title, "Titre" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Prénom" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Nom" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Age" %>
        <%= f.text_field :age, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :aventure_text, "Texte de l'aventure" %>
        <%= f.text_area :aventure_text, class: "tinymce"%>
        <%= tinymce %>
      </div>

      <div class="form-group">
        <%= f.label :aventure_video, "Vidéo de l'aventure" %>
        <%= f.text_field :aventure_video, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :aventure_audio, "Audio de l'aventure" %>
        <%= f.text_field :aventure_audio, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :tag_metier %>
        <%= f.text_field :tag_metier, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :tag_region %>
        <%= f.text_field :tag_region, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :aventure_portrait %>
        <%= f.file_field :aventure_portrait, class: "form-control-file" %>
      </div>

      <div class="form-group">
        <%= f.label :aventure_illu %>
        <%= f.text_field :aventure_illu, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Variables attachées"%>
        <%= collection_check_boxes :aventure, :variable_ids, Variable.all, :id, :name %>
      </div>
      <div class="">
        <%= f.submit %>
      </div>
      <% end %>
    </div>

</div>
