<div class="container">
  <div class="row aventure_row">
    <div class="col-xs-12 col-md-4 left">

      <%= image_tag @aventure.aventure_portrait.url(:medium), class: "aventure_img" %>
      <div class="aventure_info">
        <%= @aventure.first_name %>
        <span id="last_n">
          <%= @aventure.last_name %></span>
        |
        <%= @aventure.age %>
        ans
      </div>

    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-2 right">
      <h2 id="title">“<%= @aventure.title %>”</h2>
      <span class="date"><%= @aventure.created_at.strftime("%-d %b")%></span>
      <div class="aventure_text">
        <%= @aventure.aventure_text.html_safe %>
      </div>

      <%= @aventure.aventure_video %>
      <%= @aventure.aventure_audio %>
      <%= @aventure.aventure_illu %>
      <p>
        <strong>Rattaché aux variables :</strong>
        <% @aventure.variables.each do |variable| %>
        <%= link_to variable.name, variable_aventures_path(@aventure), class: "btn" %>
        <% end %>
      </p>
      <p>
        <strong>Rattaché aux métiers :</strong>
        <% @aventure.tags.each do |tag| %>
        <%= link_to tag.tag_metier, tag_aventures_path(@aventure), class: "btn" %>
        <% end %>

        <%= link_to 'Edit', edit_aventure_path(@aventure) %>
        <%= link_to 'Back', aventures_path %>

        |

        <%= link_to 'Delete', aventure_path(@aventure), method: :delete%>
      </p>
    </div>

  </div>
</div>
