<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @aventure.aventure_portrait.url(:thumb) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @aventure.title %>
</p>
<p>
  <strong>Prénom:</strong>
  <%= @aventure.first_name %>
</p>
<p>
  <strong>Nom:</strong>
  <%= @aventure.last_name %>
</p>
<p>
  <strong>Age:</strong>
  <%= @aventure.age %>
</p>
<p>
  <strong>Aventure text:</strong>
  <%= @aventure.aventure_text %>
</p>

<p>
  <strong>Aventure video:</strong>
  <%= @aventure.aventure_video %>
</p>

<p>
  <strong>Aventure audio:</strong>
  <%= @aventure.aventure_audio %>
</p>

<p>
  <strong>Tag metier:</strong>
  <%= @aventure.tag_metier %>
</p>

<p>
  <strong>Tag region:</strong>
  <%= @aventure.tag_region %>
</p>

<p>
  <strong>Aventure illu:</strong>
  <%= @aventure.aventure_illu %>
</p>

<p>
  <strong>Rattaché aux variables :</strong>
  <% @aventure.variables.each do |variable| %>
    <%= link_to variable.name, variable %>
  <% end %>
</p>

<%= link_to 'Edit', edit_aventure_path(@aventure) %> |
<%= link_to 'Back', aventures_path %>
