<div class="container">

  <div class="col-xs-4">

      <%= image_tag @aventure.aventure_portrait.url(:thumb), class: "aventure_img" %>

    <div class="aventure_info">
      <%= @aventure.first_name %>
      <%= @aventure.last_name %>
      |
      <%= @aventure.age %> ans
      </div>
  </div>
  <div class="col-xs-8 right">
      <%= @aventure.aventure_text.html_safe %>

      <%= @aventure.aventure_video %>
      <%= @aventure.aventure_audio %>
      <%= @aventure.tag_metier %>
      <%= @aventure.tag_region %>
      <%= @aventure.aventure_illu %>


      <strong>Rattaché aux variables :</strong>
      <% @aventure.variables.each do |variable| %>
      <%= link_to variable.name, variable, class: "btn" %>
      <% end %>

    <%= link_to 'Edit', edit_aventure_path(@aventure) %>
    <%= link_to 'Back', aventures_path %>
  </div>
</div>
