<p id="notice"><%= notice %></p>

<h1>Indefinitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Def</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indefinitions.each do |indefinition| %>
      <tr>
        <td><%= indefinition.name %></td>
        <td><%= indefinition.def %></td>
        <td><%= link_to 'Show', indefinition %></td>
        <td><%= link_to 'Edit', edit_indefinition_path(indefinition) %></td>
        <td><%= link_to 'Destroy', indefinition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indefinition', new_indefinition_path %>
