<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @indefinition.name %>
</p>

<p>
  <strong>Def:</strong>
  <%= @indefinition.def %>
</p>

<p>
  <% @indefinition.variables.each do |f|%>
    <%=link_to f.name, f%>
  <%end%>
</p>

<%= link_to 'Edit', edit_indefinition_path(@indefinition) %> |
<%= link_to 'Back', indefinitions_path %>
