<p id="notice"><%= notice %></p>

<p>
  <strong>Tag metier:</strong>
  <%= @tag.tag_metier %>
</p>

<p>
  <strong>Tag region:</strong>
  <%= @tag.tag_region %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
