<!DOCTYPE html>
<html>
  <head>
    <title>Digitales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Aventures', aventures_path %>
        <%= link_to 'Indéfinitions', indefinitions_path %>
        <%= link_to 'Variables', variables_path %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
